<div>
    <p>Race Type:</p>
    <input type="radio" id="timetrials" name="racetype" value="timetrials" checked>
    <label for="timetrials">Time Trials</label><br>
    <input type="radio" id="timetrials" name="racetype" value="timetrials">
    <label for="timetrials">Grand Prix</label><br>
</div>
<div>
    <p>Race Speed:</p>
    <select>
        <option>50cc</option>
        <option>100cc</option>
        <option>150cc</option>
        <option>Mirror</option>
    </select>
</div>
<div>
    <p>Race:</p>
    <select>
        <option>Luigi Circuit</option>
        <option>Peach Beach</option>
        <option>Baby Park</option>
        <option>Dry Dry Desert</option>
        <option>Mushroom Bridge</option>
        <option>Mario Circuit</option>
        <option>Daisy Cruiser</option>
        <option>Waluigi Stadium</option>
        <option>Sherbert Land</option>
        <option>Mushroom City</option>
        <option>Yoshi Circuit</option>
        <option>DK Mountain</option>
        <option>Wario Colliseum</option>
        <option>Dino Dino Jungle</option>
        <option>Bowser Castle</option>
        <option>Rainbow Road</option>
    </select>
</div>