<!DOCTYPE html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    <div id="head">
        <h1>Mario Kart Double Dash Leaderboards</h1>
    </div>
    <div id="nav">
        <button hx-get="/leaderboards" hx-target="#body" hx-push-url="true">View Leaderboards</button>
        <button hx-get="/getting-started" hx-target="#body" hx-push-url="true">Getting Started / Meta</button>
        <button hx-get="/login" hx-target="#body" hx-push-url="true">Login</button>
        <button hx-get="/upload-run" hx-target="#body" hx-push-url="true">Upload Run</button>
    </div>
    <div id="body">
        {{.Page}}
    </div>
</body>